@font-face {
  font-family: 'nai-icons';
  src:
    url('../fonts/nai-icons.ttf?na1vn3') format('truetype'),
    url('../fonts/nai-icons.woff?na1vn3') format('woff'),
    url('../fonts/nai-icons.svg?na1vn3#nai-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nai-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nai-icon-person-torso:before {
  content: "\1f464";
}
.nai-icon-hamburger-nav:before {
  content: "\22ee";
}
.nai-icon-search:before {
  content: "\1f50d";
}
.nai-icon-close-x:before {
  content: "\2716";
}
.nai-icon-arrow-down:before {
  content: "\2b63";
}
.nai-icon-arrow-left:before {
  content: "\2b60";
}
.nai-icon-arrow-right:before {
  content: "\2b62";
}
.nai-icon-arrow-up:before {
  content: "\2b61";
}
.nai-icon-caret-down:before {
  content: "\23f7";
}
.nai-icon-caret-up:before {
  content: "\23f6";
}
.nai-icon-caret-left:before {
  content: "\23f4";
}
.nai-icon-caret-right:before {
  content: "\23f5";
}
.nai-icon-caret-end-left:before {
  content: "\23ee";
}
.nai-icon-caret-end-right:before {
  content: "\23ed";
}
.nai-icon-minus-sign:before {
  content: "\2796";
}
.nai-icon-plus-sign:before {
  content: "\2795";
}
.nai-icon-reset:before {
  content: "\2b6e";
}
.nai-icon-recurring:before {
  content: "\1f5d8";
}
.nai-icon-phone:before {
  content: "\1f4de";
}
.nai-icon-price:before {
  content: "\1f4b2";
}
.nai-icon-tag:before {
  content: "\1f3f7";
}
.nai-icon-exhibit:before {
  content: "\e901";
}
.nai-icon-pencil:before {
  content: "\270e";
}
.nai-icon-calendar:before {
  content: "\1f4c5";
}
.nai-icon-calendar-warning:before {
  content: "\e91b";
}
.nai-icon-calendar-cancel:before {
  content: "\e91c";
}
.nai-icon-checkmark:before {
  content: "\2714";
}
.nai-icon-clock:before {
  content: "\1f558";
}
.nai-icon-location:before {
  content: "\1f4cd";
}
.nai-icon-pause:before {
  content: "\23f8";
}
.nai-icon-play:before {
  content: "\25ba";
}
.nai-icon-ticket:before {
  content: "\1f3ab";
}
.nai-icon-social-facebook:before {
  content: "\e914";
}
.nai-icon-social-instagram:before {
  content: "\e915";
}
.nai-icon-social-twitter:before {
  content: "\e91e";
}
.nai-icon-social-youtube:before {
  content: "\e91f";
}
